<div class="container">
  <div class="row">
    <% @drinks.each do |drink| %>
      <div class="col-lg-2 col-md-6 mb-4">
      <% if drink.photo.attached? %>
        <%= cl_image_tag drink.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <%# We want to be able to click in the name and take us to the drink page %>
        <%= link_to drink.name, drink_path(drink) %> <br>
          <div class="card-body">
            <p class="card-text"><%= drink.name %></p>
          </div>
          <div class="card-footer text-muted">
            <p class="card-text">Price: £<%= drink.price %></p>
          </div>
          <%= link_to "Buy now", new_drink_order_path(drink) %>
      </div>
    <% end %>
  </div>
</div>
