<div class="Upload Form">
  <h3>Upload a Drink for Sale:</h3>
  <%= simple_form_for @drink do |form| %>
    <%= form.input :name, label: "Drink Name" %>
    <%= form.input :price, label: "RRP of Drink" %>
    <%= form.input :description, label: "Description" %>
    <%= form.input :stock_level, label: "Quantity available" %>
    <%= form.input :image, as: :file, label: "Image of Drink" %>
    <%= form.button :submit %>
  <% end %>
</div>
