<div>
    <%= cl_image_tag @drink.photo.key, height: 300, width: 400, crop: :fill %>
    <h2><%= @drink.name %></h2>
    <p><%= @drink.description %></p>
    <p><%= @drink.price %></p>

    <%# <%= link_to "Drinks Home",
      drink_path(@drink)
    %>

    <%= link_to "See our selection of drinks", "/drinks" %>
</div>
