<div class="d-flex justify-content-center my-5">
  <div class="col-12 col-lg-3">
    <div class="card text-center align-self-center border-0" style="background-color:#ddcecde8">
      <p>Name: <%= @drink.name %></p>
      <%= cl_image_tag @drink.photo.key, height: 300, width: 400, crop: :fit %>
      <p>Description: <%= @drink.description %></p>
      <p>Price: £<%= @drink.price %></p>
      <button type="button" class="buttons m-1"><%= link_to "See our selection of drinks", "/drinks" %>
      <button type="button" class="buttons">
      <%= link_to "Buy Now", new_drink_order_path(@drink)%>
    </div>
  </div>
</div>


<%# £#{sum}" %>
