<div>
    <p><%= @drink.name %></p>
    <p><%= @drink.description %></p>
    <p><%= @drink.price %></p>

    <%# <%= link_to "Drinks Home",
      drink_path(@drink)
    %>

    <%= link_to "See our selection of drinks", "/drinks" %>
</div>
