<div>
    <h2><%= @drink.name %></h2>
    <p><%= @drink.description %></p>
    <p><%= @drink.price %></p>

    <%# <%= link_to "Drinks Home",
      drink_path(@drink)
    %>

    <%= link_to "See our selection of drinks", "/drinks" %> <br>
    <%= link_to "Buy now", order_path(@drink) %>
</div>
