<div class="d-flex justify-content-center my-5">
  <br>
  <h2><strong>Congratulations, your order has been confirmed!</strong></h2><br>
</div>
<div class="d-flex justify-content-center my-5">
  <div class="col-12 col-lg-3">
    <div class="card text-center align-self-center border-0" style="background-color:orange">
  <h3><strong>Your drink details:</strong></h3><br>

  <h4><strong><%= @order.drink.name %></strong></h4>
  <p>Price: £ <%= @order.drink.price %></p>
  <p><%= @order.drink.description %></p>
    <button type="button" class="btn btn-danger"><%= link_to "Return to Drinks", "/drinks" %>

    <button type="button" class="btn btn-danger"><%= link_to "Go to Orders", "/orders" %>



<%# %= link_to "<button>Add</button>".html_safe, new_admin_course_path, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>
<%# <%= link_to "Return to Drinks", drinks_path %>
<%# <button type="button" class="btn btn-danger"><%= link_to "See our selection of drinks", "/drinks" %>

<%# <button>
    <%= link_to "<button>Retun to Drinks</button>".html_safe, drinks_path, id=> class="btn btn-danger" %>
